<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>出退勤</h1>
    <button name="syukkin" onclick="location.href='/identify/出勤'">出勤</button>
    <button name="taikin" onclick="location.href='/identify/退勤'">退勤</button>
    <button name="training" onclick="location.href='/training'">学習</button>
    <button name="menkyo_ocr" onclick="location.href='/menkyo_ocr'">OCR</button>
</body>
</html>
