<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>Camera Test</title>
  <style>
  canvas, video{
    border: 1px solid gray;
  }
  #camera{ position: absolute; z-index: 10; transform: scaleX(-1);}
  #getvideo{ position:absolute;}
  #iframe2{position:absolute; z-index: 15; margin-top: 220px; margin-left: 300px; border-width: 1px; border-color: red;}
  #iframe{ position: relative; z-index: 20; margin: 59px 115px; border-width: 6px; border-color: red;}
  #still{ display: none;}
  </style>
</head>
<body>

  <h1>免許証の番号取得</h1>

  <video id="camera" width="640" height="380"></video>
  <canvas id="iframe2" width="160" height="30"></canvas>
  <canvas id="iframe" width="400" height="252"></canvas>
  <canvas id="picture" width="640" height="380"></canvas>
  <form>
    <button type="button" onclick="location.href='/'">戻る</button>
    <button type="button" id="chenge">反転</button>
    <button type="button" id="start" onclick="startTimer()">読み取り開始</button>
    <button type="button" id="stop" onclick="stopTimer()">読み取り停止</button>
    <button type="button" id="shutter">シャッター</button>
  </form>
  <!-- 顔判定の結果を表示 -->
  <div id="place_for_suggestions"></div>

  <!-- 合成用Canvas（不可視） -->
  <canvas id="still" width="640" height="380"></canvas>


  <script src={{url_for('static', filename='menkyo_ocr.js')}}></script>
</body>
</html>