<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>Camera Test</title>
  <style>
  canvas, video{
    border: 1px solid gray;
    transform: scaleX(-1);
  }
  #camera{ position: absolute; z-index: 10;}
  #getvideo{ position:absolute;}
  #iframe{ position: relative; z-index: 20; margin: 45px 190px; border-width: 6px; border-color: red;}
  #still{ display: none;}
  </style>
</head>
<body>

<h1>HTML5カメラ</h1>

<video id="camera" width="640" height="380"></video>
<canvas id="getvideo" width="640" height="380"></canvas>
<canvas id="iframe" width="250" height="280"></canvas>
<canvas id="picture" width="640" height="380"></canvas>
<form>
  <button type="button" id="shutter" value={{taikin}}>シャッター</button>
</form>
<!-- 顔判定の結果を表示 -->
<div id="place_for_suggestions"></div>

<!-- 合成用Canvas（不可視） -->
<canvas id="still" width="640" height="380"></canvas>


<script type="text/javascript">
window.onload = () => {
  const video  = document.querySelector("#camera");
  const getvideo = document.querySelector("#getvideo");
  const canvas = document.querySelector("#picture");
  const se     = document.querySelector('#se');

  /** カメラ設定 */
  const constraints = {
    audio: false,
    video: {
      width: { ideal : 340 },
      height: { ideal : 680 },
      facingMode: "user"   // フロントカメラを利用する
      // facingMode: { exact: "environment" }  // リアカメラを利用する場合
    }
  };

  /**
   * カメラを<video>と同期
   */
  navigator.mediaDevices.getUserMedia(constraints)
  .then( (stream) => {
    console.log(video.onloadedmetadata)
    video.srcObject = stream;
    video.onloadedmetadata = (e) => {
      video.play();
    };
  })
  .catch( (err) => {
    console.log(err.name + ": " + err.message);
  });
/*   setInterval(function(){
	 var getvideo = document.getElementById("getvideo");
	 getvideo.getContext("2d").drawImage(video, 0, 0, getvideo.width, getvideo.height);
  }, 1000/30); */
  
/*   function notify_change_size() {
      var video = document.getElementById('camera');
      video_layout_width  = video.clientWidth
      video_layout_height = video.clientHeight
  }

  var videoElement = document.querySelector('video#camera');
  //onresizeメッセージのコールバック関数を設定する
  videoElement.onresize = notify_change_size; */

  /**
   * シャッターボタン
   */
   document.querySelector("#shutter").addEventListener("click", () => {
    const ctx = canvas.getContext("2d");
    // 勤怠情報の取得
    let attendance_data = document.querySelector("#shutter").value
    // 演出的な目的で一度映像を止めてSEを再生する
    video.pause();  // 映像を停止
    setTimeout( () => {
      video.play();    // 0.5秒後にカメラ再開
    }, 500);

    // canvasに画像を貼り付ける
    let a = 1
    if (canvas.width < video.videoWidth){
      a = canvas.width / video.videoWidth;
    }
    if (canvas.height < video.videoHeight){
      a = canvas.height / video.videoHeight;
    }
    let w = video.videoWidth * a
    let h = video.videoHeight * a
    ctx.drawImage(video, 0, 0, w, h);
    function send_img(){
      //canvas elementを取得
      var canvas = document.getElementById('picture');
      //base64データを取得（エンコード）
      var base64 = canvas.toDataURL('image/jpeg', 0.75);

      var fData = new FormData();
      fData.append('img', base64);

      //ajax送信
      $.ajax({
        //画像処理サーバーに返す場合
        url: '/image_ajax/' + attendance_data,
        type: 'POST',
        data: fData ,
        contentType: false,
        processData: false,
        dataType: "text",
        success: function(data, dataType) {
            //非同期で通信成功時に読み出される [200 OK 時]
            console.log('Success', data);
            console.log('dataType:', dataType);
            $("#place_for_suggestions").html(data);
            //location.reload(true);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            //非同期で通信失敗時に読み出される
            console.log('Error : ' + errorThrown);
        }
      });
    }
    send_img()
  });
};
</script>
</body>
</html>